* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-Regular.woff');
    src: local('../fonts/Gilroy Regular'), local('../fonts/Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-Medium.woff');
    src: local('../fonts/Gilroy Medium'), local('../fonts/Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-SemiBold.woff');
    src: local('../fonts/Gilroy SemiBold'), local('../fonts/Gilroy-SemiBold'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/Gilroy';
    src: url('../fonts/Gilroy-Bold.woff');
    src: local('../fonts/Gilroy Bold'), local('../fonts/Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


.container {
    max-width:1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}
.link {
    text-decoration: none;
    color: #000000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 533px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 16px;
}

.link:first-child {
    color: #F25822;
}

.arrow-down {
    padding:8px;
    background: url('https://api.iconify.design/icon-park-outline/down.svg?width=12') no-repeat center center / contain;
}

.top-content {
    margin: 84px 0 162px 0;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin-bottom: 17px;
    font-size: 60px;
    font-family: 'Gilroy-Bold', sans-serif;
}

.text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    color: #888888;
}


.top-buttons {
    margin-top: 37px;
}



.button {
    margin-right: 72px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 15px;
    border: 0;
    color: #AAAAAA;
    text-decoration: none;
}

.button:first-child {
    background-color: #F25822;
    color: #FFFFFF;
    padding: 15px 35px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(242, 88, 34,0.2);
}

.bottom-logos {
    display: flex;
    justify-content: space-between;
}