.shopping-cart-items {
    display: flex;
    margin-top: 96px;
    gap:128px;

    .shopping-cart-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 72px;
    }

    .shopping-cart-item {
        display: flex;
        width: 652px;
        height: 306px;
        color: #575757;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        gap: 6px;
        background-color: #FFF;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
        position: relative;
        img {
            height: 100%;
        }

        &-box {
            display: flex;
            flex-direction: column;
            gap:6px;
            padding: 22px 31px;
        }

        &-title {
            width: 70%;
            color: #222;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
            margin-bottom: 30px;
        }

        &-price-color {
            color: $maincolor;
        }

        &-quantity-amount {
            border: 1px solid rgb(34%, 34%, 34%, .2);
            padding: 0 16px;
            margin-left: 24px;
        }

        &-close {
            position: absolute;
            right: 22px;
            &:hover {
                cursor: pointer;
                path {
                    fill: $maincolor;
                    transition: all 0.05s;
                }
            }
        }
    }
}

.shopping-buttons {
    @extend .flex-items-center;
    justify-content: space-between;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 128px;

    div {
        padding: 16px 40px;
        border: 1px solid #A4A4A4;
    }

    div:hover {
        cursor: pointer;
        color: $maincolor;
        border: 1px solid $maincolor;
        transition: all 0.05s;
    }

}

.text-field {
    width: $itemwidth;
    height: 45px;
    padding-left: 16px;
    border: 1px solid #A4A4A4;
}

.text-field-gray::placeholder {
    color: #B1B1B1; 
    opacity: 1;
}

.shopping-cart-items-right {
    .shopping-cart-address {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 17px;
        &-title {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; 
        }
    }

    .postcode {
        margin-bottom: 3px;
    }


    .send {
        margin-bottom: 69px;
        span {
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; 
            border:1px solid rgb(34%, 34%, 34%, .2);
            padding: 10px 14px 12px 15px;

            &:hover {
                cursor: pointer;
                color: $maincolor;
                border-color: $maincolor;
            }
        }
    }

    .checkout {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        width: $itemwidth;
        height: 214px;
        background-color: #F5F3F3;
        padding: 43px;
        .sub-total {
            color: #4A4A4A;
            font-size: 11px;
            font-weight: 400;
            margin-bottom: 12px;
        }

        .grand-total {
            color: #222;
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 21px;
            border-bottom: 1px solid #E2E2E2;
            margin-bottom: 17px;
            span {
                color: #F16D7F;
                font-weight: 700;
            }
        }

        .checkout-button {
            color: #FFF;
            font-size: 16px;
            font-weight: 300;
            background-color: $maincolor;
            padding: 15px 41px;
            
        }

        .checkout-button:hover {
            cursor: pointer;
            background-color:#F5F3F3;
            color: $maincolor;
            border: 1px solid $maincolor;
            transition: all 0.05s;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .shopping-cart-items {
        gap: 0;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 59px;
        .shopping-cart-item {
            width: 46rem;
        }
    }


    .shopping-cart-items-right {
        display: flex;
        gap: 0.938rem;

        .checkout {
            margin-top: 55px;
        }

        .send {
            margin-bottom: 128px;
        }
    }

    .shopping-buttons {
        margin-bottom: 64px;
        justify-content: center;
        gap: 3rem;
    }
    
}

@media (min-width: 375px) and (max-width: 425px) {
    .shopping-cart-items {
        flex-direction: column;
        margin-top: 39px;
        gap: 48px;
        .shopping-cart-content {
            gap: 32px;
            margin-bottom: 30px;
        }
        .shopping-cart-item {
            width: 22.5rem;
            height: 188px;
            margin: 0 -8px;
            font-size: 14px;

            &-box {
                padding: 13px 17px;
            }

            &-title {
                width: 80%;
                font-size: 16px;
                margin-bottom: 12px;
            }

            &-close {
                right: 13px;
                svg {
                    height: 10px;
                    width: 10px;
                }
            }
        }
    }

    .shopping-buttons {
        margin-bottom: 0;
        font-size: 12px;
        margin-left: -8px;
        margin-right: -8px;
        div {
            padding: 9px 22px;
        }
    }

    .text-field {
        margin: 0 -8px;
    }

    .shopping-cart-items-right {
        .send {
            margin-left: -8px;
        }
    }

    .checkout {
        margin: 0 -8px;
        margin-bottom: 96px;
    }
}