@import 'var';

details::marker {
    display: none;
}
summary {
    list-style: none;
}

.filter-section {
    display: flex;
    gap:30px;
    height: 132px;
    padding-top: 51px;
}

.filter {
    width: 360px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 

    &-summary:hover {
        cursor: pointer;
    }

    &[open] {
        margin-top: -13px;
        padding: 13px 16px;
        width: 360px;
        height: 531px; 
        background-color: #FFF;
        filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
        z-index: 10;
        align-self: flex-start;
    }

    &[open] .filter-heading{
        color: $maincolor;
    }

    &[open] path {
        fill: $maincolor;
    }

    &-category {
        margin-top: 18px;
        &-heading {
            // display: inline-block;
            @extend .flex-items-center;
            color: #6F6E6E;
            width: 100%;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
            height: 37px;
            padding: 0 11px 0 11px;
            border-left: 5px solid $maincolor;
            border-bottom: 1px solid #EBEBEB;
    }
        &[open] &-heading{
            color: $maincolor;
        }
        &-items {
            display: flex;
            flex-direction: column;
            gap: 11px;
            margin: 25px 18px 0px 18px;
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
        }
    }

    &-category-summary:hover {
        cursor: pointer;
    }

}

.sort {
    display: flex;
    gap:30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color: #6F6E6E;

    summary {
        @extend .flex-items-center;
        gap:10px;
        &:hover {
            cursor: pointer;
        }
    }
    &-size {
        position: relative;
        &-box{
            background-color: #FFF;
            filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
            z-index: 10;
            position: absolute;
            left: -10px;
            bottom:-45px;
            width: 78px;
            height: 103px;
            &-content {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 9px;

                label {
                    @extend .flex-items-center;
                }

                label:hover {
                    cursor: pointer;
                }
                input:hover {
                    cursor:pointer;
                }

                input {
                    appearance: none;
                    background-color: #fff;
                    margin-right: 9px;
                    font: inherit;
                    color: #6F6E6E;
                    width: 13px;
                    height: 13px;
                    border: 1.5px solid rgba(111, 110, 110,.2);;
                    border-radius: 0.1em;
                    display: grid;
                    place-content: center;
                }

                input::before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    transform: scale(0);
                    transition: 0.3ms transform ease-in-out;
                    box-shadow: inset 10px 10px $maincolor;
                    border-radius: 1px;
                }

                input:checked::before {
                    transform: scale(1);
                }
            }
        }
        &[open] path{
            transform-origin: 50% 50%;
            transform: rotateX(180deg);
        }
    }

    &-trending-now {
        &[open] path{
            transform-origin: 50% 50%;
            transform: rotateX(180deg);
        }
    }

    &-price {
        &[open] path{
            transform-origin: 50% 50%;
            transform: rotateX(180deg);
        }
    }
}

.featured-items-pagination {
    @extend .flex-items-center;
    justify-content: center;
    margin-top: 49px;
    margin-bottom: 96px;
    &-box {
        @extend .flex-items-center;
        justify-content: center;
        gap: 18px;
        width: 283px;
        height: 43px;
        color: #C4C4C4;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
        border: 1px solid #EBEBEB;
        border-radius: 2px;

        .current-max-page::after {
            content: ".....";
            margin-right: -18px;
        }

        a.current-page {
            color: $maincolor;
        }
    }
} 

@media (min-width: 768px) and (max-width: 1024px) {
    .filter-section {
        padding-top: 24px;
        gap: 0;
        justify-content: space-between;
        height: 81px;
    }

    .catalogue-hide-med {
        display: none;
    }

    .sort-size-box {
        bottom: -68px;
    }

    .featured-items-pagination {
        margin-bottom: 63px;
    }
}