.breadcrumbs {
  background-color: #F8F3F4;
}
.breadcrumbs-items {
  justify-content: space-between;
  height: 148px;
}
.breadcrumbs-current {
  color: #F26376;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs-links {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs-links .new-arrivals {
  color: #F26376;
  font-weight: 700;
}
.breadcrumbs-links > a:not(:last-child)::after {
  content: "/";
  margin: 0 5px;
}

.image-slide {
  background-color: #F7F7F7;
}
.image-slide-body {
  justify-content: space-between;
  height: 777px;
}
.image-slide-body .arrow {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  justify-content: center;
}
.image-slide-body .arrow::after {
  content: url(./img/arrow_left.svg);
}
.image-slide-body .arrow:hover::after {
  filter: invert(56%) sepia(70%) saturate(905%) hue-rotate(309deg) brightness(96%) contrast(96%);
}
.image-slide-body .arrow:hover {
  cursor: pointer;
}
.image-slide-body .arrow.right::after {
  transform: rotate(180deg);
}

.product-description {
  justify-content: center;
  margin-top: -60px;
  margin-bottom: 129px;
}
.product-description-items {
  padding: 65px;
  flex-direction: column;
  background-color: #FFF;
  width: 1140px;
  border: 2px solid #F7F7F7;
  height: 600px;
}
.product-description-collection {
  color: #F26376;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 12px;
}
.product-description-collection::after {
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #F26376;
  width: 63px;
  height: 12px;
  content: "";
}
.product-description-collection-title {
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 50px;
}
.product-description-text {
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 550px;
  margin-bottom: 33px;
}
.product-description-price {
  color: #F26376;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product-description .line {
  margin: 64px auto;
  height: 1px;
  background-color: #EAEAEA;
  width: 641px;
}
.product-description .drop-down {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 42px;
  margin-bottom: 48px;
  position: relative;
}
.product-description .drop-down div::after {
  margin-left: 10px;
  position: absolute;
  transform: translateY(-10%);
  content: url(./img/drop-down.svg);
}
.product-description .drop-down div:hover {
  cursor: pointer;
}
.product-description .add-to-cart {
  width: 212px;
  height: 48px;
  justify-content: center;
  border: 1px solid #F26376;
  font-size: 1rem;
  text-align: center;
  filter: invert(56%) sepia(70%) saturate(905%) hue-rotate(309deg) brightness(96%) contrast(96%);
  position: relative;
  transition: all 0.15s;
}
.product-description .add-to-cart::before {
  position: absolute;
  content: url(./img/cart.svg);
  transform: scale(0.7) translate(-300%, 15%);
}
.product-description .add-to-cart:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.featured-items {
  margin-bottom: 129px;
}

details::marker {
  display: none;
}

summary {
  list-style: none;
}

.filter-section {
  display: flex;
  gap: 30px;
  height: 132px;
  padding-top: 51px;
}

.filter {
  width: 360px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter-summary:hover {
  cursor: pointer;
}
.filter[open] {
  margin-top: -13px;
  padding: 13px 16px;
  width: 360px;
  height: 531px;
  background-color: #FFF;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  z-index: 10;
  align-self: flex-start;
}
.filter[open] .filter-heading {
  color: #F26376;
}
.filter[open] path {
  fill: #F26376;
}
.filter-category {
  margin-top: 18px;
}
.filter-category-heading {
  color: #6F6E6E;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 37px;
  padding: 0 11px 0 11px;
  border-left: 5px solid #F26376;
  border-bottom: 1px solid #EBEBEB;
}
.filter-category[open] .filter-category-heading {
  color: #F26376;
}
.filter-category-items {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 25px 18px 0px 18px;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter-category-summary:hover {
  cursor: pointer;
}

.sort {
  display: flex;
  gap: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #6F6E6E;
}
.sort summary {
  gap: 10px;
}
.sort summary:hover {
  cursor: pointer;
}
.sort-size {
  position: relative;
}
.sort-size-box {
  background-color: #FFF;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  z-index: 10;
  position: absolute;
  left: -10px;
  bottom: -45px;
  width: 78px;
  height: 103px;
}
.sort-size-box-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 9px;
}
.sort-size-box-content label:hover {
  cursor: pointer;
}
.sort-size-box-content input:hover {
  cursor: pointer;
}
.sort-size-box-content input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin-right: 9px;
  font: inherit;
  color: #6F6E6E;
  width: 13px;
  height: 13px;
  border: 1.5px solid rgba(111, 110, 110, 0.2);
  border-radius: 0.1em;
  display: grid;
  place-content: center;
}
.sort-size-box-content input::before {
  content: "";
  width: 5px;
  height: 5px;
  transform: scale(0);
  transition: 0.3ms transform ease-in-out;
  box-shadow: inset 10px 10px #F26376;
  border-radius: 1px;
}
.sort-size-box-content input:checked::before {
  transform: scale(1);
}
.sort-size[open] path {
  transform-origin: 50% 50%;
  transform: rotateX(180deg);
}
.sort-trending-now[open] path {
  transform-origin: 50% 50%;
  transform: rotateX(180deg);
}
.sort-price[open] path {
  transform-origin: 50% 50%;
  transform: rotateX(180deg);
}

.featured-items-pagination {
  justify-content: center;
  margin-top: 49px;
  margin-bottom: -20px;
}
.featured-items-pagination-box {
  justify-content: center;
  gap: 18px;
  width: 283px;
  height: 43px;
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
}
.featured-items-pagination-box .current-max-page::after {
  content: ".....";
  margin-right: -18px;
}
.featured-items-pagination-box a.current-page {
  color: #F26376;
}

.flex-items-center, footer .socials-icon, footer .socials, footer .footer-items, .subscribe-button, .subscribe-email-form, .subscribe-block, .subscribe .customer, .subscribe-items, .services-item, .item-img .add-to-cart, .featured-items-button, .top .hero-title-group, .top-items, .header .item-amount, .header .navigation, .header-group, .header-items, .header, .breadcrumbs-items, .image-slide-body, .image-slide-body .arrow, .product-description, .product-description-items, .product-description .drop-down, .product-description .add-to-cart, .filter-category-heading, .sort summary, .sort-size-box-content label, .featured-items-pagination, .featured-items-pagination-box {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Lato;
}

img {
  max-width: 100%;
}

a, a:visited {
  color: inherit;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background-color: #222;
}
.header-items {
  justify-content: space-between;
}
.header-group {
  gap: 2.563rem;
}
.header .navigation {
  gap: 2.063rem;
}
.header .navigation img:hover {
  filter: invert(56%) sepia(70%) saturate(905%) hue-rotate(309deg) brightness(96%) contrast(96%);
}
.header .cart {
  position: relative;
  margin-left: 15px;
}
.header .item-amount {
  position: absolute;
  top: -30%;
  right: -30%;
  justify-content: center;
  color: #FFF;
  font-size: 12px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F26376;
}
.header .search-bar:hover {
  filter: invert(56%) sepia(70%) saturate(905%) hue-rotate(309deg) brightness(96%) contrast(96%);
  cursor: pointer;
}

.top {
  height: 764px;
  background-color: #F1E4E6;
}
.top .hero-image {
  margin-left: -230px;
}
.top .hero-title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.top .hero-text {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top .fashion {
  color: #F26376;
}
.top .pink-bar {
  background-color: #F26376;
  width: 0.75rem;
  height: 92px;
  margin-right: 16px;
}

.categories {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 31.55%);
  grid-template-rows: 55.31% 38.29%;
  gap: 1.875rem;
  line-height: 0;
}
.categories .category-accessories {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.featured-items-info {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 48px;
}
.featured-items-title {
  color: #222;
  font-size: 30px;
  margin-bottom: 6px;
}
.featured-items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.featured-items-button {
  justify-content: center;
  margin: 48px auto 60px auto;
  width: 212px;
  height: 48px;
  border: 1px solid #F26376;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.15s;
}
.featured-items-button:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}
.featured-items-button:active {
  transform: translateY(4px);
  background-color: #F26376;
  color: #FFF;
}

.item {
  background-color: #F8F8F8;
  transition: all 0.25s;
}
.item-text-block {
  padding: 24px 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-title {
  color: #000;
}
.item-text {
  color: #5D5D5D;
  margin: 16px 0;
  font-size: 14px;
  font-weight: 300;
}
.item-price {
  color: #F26376;
  font-size: 16px;
}
.item-img {
  position: relative;
}
.item-img .add-to-cart {
  opacity: 0%;
  width: 8.688rem;
  height: 2.75rem;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 0.875rem;
}
.item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.02, 1.02);
  cursor: pointer;
}
.item:hover .item-title {
  color: #F26376;
}
.item:hover .add-to-cart {
  opacity: 100%;
}
.item:hover .item-main-img {
  filter: brightness(50%);
}
.item:active {
  transform: translateY(4px);
}

.services {
  background-color: #222;
}
.services-items {
  height: 341px;
  display: flex;
  justify-content: space-between;
}
.services-item {
  flex-direction: column;
  justify-content: center;
  width: 28%;
  color: #FBFBFB;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.services-icon {
  margin-bottom: 28px;
}
.services-title {
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.services-text {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subscribe {
  background-color: rgba(244, 244, 244, 0.7);
  background-image: url("./img/bottom-background.jpg");
  background-size: cover;
}
.subscribe-items {
  height: 448px;
  justify-content: space-between;
  gap: 30%;
}
.subscribe .customer {
  flex-direction: column;
}
.subscribe .customer-pic {
  margin-bottom: 30px;
}
.subscribe .customer-testimonial {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe .customer-testimonial > span {
  font-style: italic;
}
.subscribe-block {
  flex-direction: column;
  text-align: center;
  color: #222;
  margin-right: 6rem;
}
.subscribe-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.subscribe-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.subscribe-email {
  height: 49px;
  border: none;
  border-radius: 2rem 0 0 2rem;
  width: 16rem;
  line-height: 0;
  padding-left: 22px;
  background-color: #E1E1E1;
}
.subscribe-email-form:hover {
  cursor: pointer;
}
.subscribe-button {
  justify-content: center;
  height: 49px;
  color: #FFF;
  width: 6.25rem;
  background-color: #F26376;
  border-radius: 0 2rem 2rem 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  background-color: #222;
}
footer .footer-items {
  height: 79px;
  justify-content: space-between;
}
footer .copyright {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .socials {
  gap: 0.45em;
}
footer .socials-icon {
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: #FFF;
  padding: 8px;
  line-height: 0;
}
footer .socials-icon:hover {
  cursor: pointer;
  background-color: #F26376;
}
footer .socials-icon:hover img {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(105deg) brightness(102%) contrast(101%);
}/*# sourceMappingURL=style.css.map */