.breadcrumbs {
  background-color: #F8F3F4;
}
.breadcrumbs-items {
  justify-content: space-between;
  height: 148px;
}
.breadcrumbs-current {
  color: #F26376;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs-links {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs-links .new-arrivals {
  color: #F26376;
  font-weight: 700;
}
.breadcrumbs-links > a:not(:last-child)::after {
  content: "/";
  margin: 0 5px;
}

.image-slide {
  background-color: #F7F7F7;
}
.image-slide-body {
  justify-content: space-between;
  height: 777px;
}
.image-slide-body .arrow {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  justify-content: center;
}
.image-slide-body .arrow::after {
  content: url(./img/arrow_left.svg);
}
.image-slide-body .arrow:hover::after {
  filter: invert(56%) sepia(70%) saturate(905%) hue-rotate(309deg) brightness(96%) contrast(96%);
}
.image-slide-body .arrow:hover {
  cursor: pointer;
}
.image-slide-body .arrow.right::after {
  transform: rotate(180deg);
}

.product-description {
  justify-content: center;
  margin-top: -60px;
  margin-bottom: 129px;
}
.product-description-items {
  padding: 65px;
  flex-direction: column;
  background-color: #FFF;
  width: 1140px;
  border: 2px solid #F7F7F7;
  height: 600px;
}
.product-description-collection {
  color: #F26376;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 12px;
}
.product-description-collection::after {
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #F26376;
  width: 63px;
  height: 12px;
  content: "";
}
.product-description-collection-title {
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 50px;
}
.product-description-text {
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 550px;
  margin-bottom: 33px;
}
.product-description-price {
  color: #F26376;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product-description .line {
  margin: 64px auto;
  height: 1px;
  background-color: #EAEAEA;
  width: 641px;
}
.product-description .drop-down {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 42px;
  margin-bottom: 48px;
  position: relative;
}
.product-description .drop-down div::after {
  margin-left: 10px;
  position: absolute;
  transform: translateY(-10%);
  content: url(./img/drop-down.svg);
}
.product-description .drop-down div:hover {
  cursor: pointer;
}
.product-description .add-to-cart {
  width: 212px;
  height: 48px;
  justify-content: center;
  border: 1px solid #F26376;
  font-size: 1rem;
  text-align: center;
  filter: invert(56%) sepia(70%) saturate(905%) hue-rotate(309deg) brightness(96%) contrast(96%);
  position: relative;
  transition: all 0.15s;
}
.product-description .add-to-cart::before {
  position: absolute;
  content: url(./img/cart.svg);
  transform: scale(0.7) translate(-300%, 15%);
}
.product-description .add-to-cart:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.featured-items-margin {
  margin-bottom: 129px !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-slide-body {
    height: 624px;
  }
  .image-slide-body img {
    height: 100%;
  }
  .product-description {
    border-bottom: 2px solid #eaeaea;
    border-top: 2px solid #eaeaea;
    margin-top: 0;
  }
  .product-description-items {
    width: 100%;
    border: none;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .breadcrumbs-items {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .image-slide-body {
    height: 624px;
  }
  .image-slide img {
    max-width: 19.563rem;
  }
  .product-description {
    margin-top: 0;
    margin-bottom: 64px;
  }
  .product-description-items {
    margin: 0 -16px;
    padding: 65px 22px;
    width: 375px;
  }
  .product-description-text {
    width: 100%;
  }
  .product-description .line {
    width: 175px;
    margin: 2rem 0 50px 0;
  }
  .product-description .drop-down {
    font-size: 10px;
    margin-left: -21px;
    margin-bottom: 48px;
  }
  .catalogue-hide-phone {
    display: none;
  }
  .featured-items-margin {
    margin-bottom: 4rem !important;
  }
}
details::marker {
  display: none;
}

summary {
  list-style: none;
}

.filter-section {
  display: flex;
  gap: 30px;
  height: 132px;
  padding-top: 51px;
}

.filter {
  width: 360px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter-summary:hover {
  cursor: pointer;
}
.filter[open] {
  margin-top: -13px;
  padding: 13px 16px;
  width: 360px;
  height: 531px;
  background-color: #FFF;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  z-index: 10;
  align-self: flex-start;
}
.filter[open] .filter-heading {
  color: #F26376;
}
.filter[open] path {
  fill: #F26376;
}
.filter-category {
  margin-top: 18px;
}
.filter-category-heading {
  color: #6F6E6E;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 37px;
  padding: 0 11px 0 11px;
  border-left: 5px solid #F26376;
  border-bottom: 1px solid #EBEBEB;
}
.filter-category[open] .filter-category-heading {
  color: #F26376;
}
.filter-category-items {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 25px 18px 0px 18px;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter-category-summary:hover {
  cursor: pointer;
}

.sort {
  display: flex;
  gap: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #6F6E6E;
}
.sort summary {
  gap: 10px;
}
.sort summary:hover {
  cursor: pointer;
}
.sort-size {
  position: relative;
}
.sort-size-box {
  background-color: #FFF;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  z-index: 10;
  position: absolute;
  left: -10px;
  bottom: -45px;
  width: 78px;
  height: 103px;
}
.sort-size-box-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 9px;
}
.sort-size-box-content label:hover {
  cursor: pointer;
}
.sort-size-box-content input:hover {
  cursor: pointer;
}
.sort-size-box-content input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin-right: 9px;
  font: inherit;
  color: #6F6E6E;
  width: 13px;
  height: 13px;
  border: 1.5px solid rgba(111, 110, 110, 0.2);
  border-radius: 0.1em;
  display: grid;
  place-content: center;
}
.sort-size-box-content input::before {
  content: "";
  width: 5px;
  height: 5px;
  transform: scale(0);
  transition: 0.3ms transform ease-in-out;
  box-shadow: inset 10px 10px #F26376;
  border-radius: 1px;
}
.sort-size-box-content input:checked::before {
  transform: scale(1);
}
.sort-size[open] path {
  transform-origin: 50% 50%;
  transform: rotateX(180deg);
}
.sort-trending-now[open] path {
  transform-origin: 50% 50%;
  transform: rotateX(180deg);
}
.sort-price[open] path {
  transform-origin: 50% 50%;
  transform: rotateX(180deg);
}

.featured-items-pagination {
  justify-content: center;
  margin-top: 49px;
  margin-bottom: 96px;
}
.featured-items-pagination-box {
  justify-content: center;
  gap: 18px;
  width: 283px;
  height: 43px;
  color: #C4C4C4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
}
.featured-items-pagination-box .current-max-page::after {
  content: ".....";
  margin-right: -18px;
}
.featured-items-pagination-box a.current-page {
  color: #F26376;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filter-section {
    padding-top: 24px;
    gap: 0;
    justify-content: space-between;
    height: 81px;
  }
  .catalogue-hide-med {
    display: none;
  }
  .sort-size-box {
    bottom: -68px;
  }
  .featured-items-pagination {
    margin-bottom: 63px;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .filter-section .filter {
    position: absolute;
    margin-left: -8px;
  }
  .filter-section .filter-heading {
    display: none;
  }
  .filter-section .filter-summary svg {
    width: 37.5px;
    height: 25px;
  }
  .sort {
    margin-left: 77px;
    font-size: 12px;
    gap: 24px;
  }
  .featured-items-grid {
    gap: 1rem !important;
  }
  .catalogue-hide-low {
    display: none;
  }
}
.shopping-cart-items {
  display: flex;
  margin-top: 96px;
  gap: 128px;
}
.shopping-cart-items .shopping-cart-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 72px;
}
.shopping-cart-items .shopping-cart-item {
  display: flex;
  width: 652px;
  height: 306px;
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 6px;
  background-color: #FFF;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  position: relative;
}
.shopping-cart-items .shopping-cart-item img {
  height: 100%;
}
.shopping-cart-items .shopping-cart-item-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 22px 31px;
}
.shopping-cart-items .shopping-cart-item-title {
  width: 70%;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.shopping-cart-items .shopping-cart-item-price-color {
  color: #F26376;
}
.shopping-cart-items .shopping-cart-item-quantity-amount {
  border: 1px solid rgba(87, 87, 87, 0.2);
  padding: 0 16px;
  margin-left: 24px;
}
.shopping-cart-items .shopping-cart-item-close {
  position: absolute;
  right: 22px;
}
.shopping-cart-items .shopping-cart-item-close:hover {
  cursor: pointer;
}
.shopping-cart-items .shopping-cart-item-close:hover path {
  fill: #F26376;
  transition: all 0.05s;
}

.shopping-buttons {
  justify-content: space-between;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 128px;
}
.shopping-buttons div {
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
}
.shopping-buttons div:hover {
  cursor: pointer;
  color: #F26376;
  border: 1px solid #F26376;
  transition: all 0.05s;
}

.text-field {
  width: 360px;
  height: 45px;
  padding-left: 16px;
  border: 1px solid #A4A4A4;
}

.text-field-gray::-moz-placeholder {
  color: #B1B1B1;
  opacity: 1;
}

.text-field-gray::placeholder {
  color: #B1B1B1;
  opacity: 1;
}

.shopping-cart-items-right .shopping-cart-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 17px;
}
.shopping-cart-items-right .shopping-cart-address-title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.shopping-cart-items-right .postcode {
  margin-bottom: 3px;
}
.shopping-cart-items-right .send {
  margin-bottom: 69px;
}
.shopping-cart-items-right .send span {
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 1px solid rgba(87, 87, 87, 0.2);
  padding: 10px 14px 12px 15px;
}
.shopping-cart-items-right .send span:hover {
  cursor: pointer;
  color: #F26376;
  border-color: #F26376;
}
.shopping-cart-items-right .checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  padding: 43px;
}
.shopping-cart-items-right .checkout .sub-total {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 12px;
}
.shopping-cart-items-right .checkout .grand-total {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 21px;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 17px;
}
.shopping-cart-items-right .checkout .grand-total span {
  color: #F16D7F;
  font-weight: 700;
}
.shopping-cart-items-right .checkout .checkout-button {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  background-color: #F26376;
  padding: 15px 41px;
}
.shopping-cart-items-right .checkout .checkout-button:hover {
  cursor: pointer;
  background-color: #F5F3F3;
  color: #F26376;
  border: 1px solid #F26376;
  transition: all 0.05s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shopping-cart-items {
    gap: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 59px;
  }
  .shopping-cart-items .shopping-cart-item {
    width: 46rem;
  }
  .shopping-cart-items-right {
    display: flex;
    gap: 0.938rem;
  }
  .shopping-cart-items-right .checkout {
    margin-top: 55px;
  }
  .shopping-cart-items-right .send {
    margin-bottom: 128px;
  }
  .shopping-buttons {
    margin-bottom: 64px;
    justify-content: center;
    gap: 3rem;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .shopping-cart-items {
    flex-direction: column;
    margin-top: 39px;
    gap: 48px;
  }
  .shopping-cart-items .shopping-cart-content {
    gap: 32px;
    margin-bottom: 30px;
  }
  .shopping-cart-items .shopping-cart-item {
    width: 22.5rem;
    height: 188px;
    margin: 0 -8px;
    font-size: 14px;
  }
  .shopping-cart-items .shopping-cart-item-box {
    padding: 13px 17px;
  }
  .shopping-cart-items .shopping-cart-item-title {
    width: 80%;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .shopping-cart-items .shopping-cart-item-close {
    right: 13px;
  }
  .shopping-cart-items .shopping-cart-item-close svg {
    height: 10px;
    width: 10px;
  }
  .shopping-buttons {
    margin-bottom: 0;
    font-size: 12px;
    margin-left: -8px;
    margin-right: -8px;
  }
  .shopping-buttons div {
    padding: 9px 22px;
  }
  .text-field {
    margin: 0 -8px;
  }
  .shopping-cart-items-right .send {
    margin-left: -8px;
  }
  .checkout {
    margin: 0 -8px;
    margin-bottom: 96px;
  }
}
.registration {
  background-color: #FFF;
}
.registration-items {
  padding-top: 64px;
  display: flex;
  gap: 11.2%;
}
.registration-left {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.registration-name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration-name-title {
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.registration-gender {
  gap: 20px;
}
.registration-gender .gender {
  color: #000;
  font-size: 11px;
  font-weight: 300;
}
.registration-gender label {
  margin-left: 10px;
}
.registration-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration-login-title {
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.registration-button {
  justify-content: center;
  gap: 20px;
  width: 167px;
  height: 50px;
  background-color: #F26376;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 96px;
}
.registration-button:hover {
  cursor: pointer;
  background-color: #FFF;
  color: #F26376;
  border: 1px solid #F26376;
}
.registration-button:hover path {
  fill: #F26376;
}
.registration .text {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 8px;
}
.registration-right {
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #000;
  font-size: 24px;
  font-weight: 300;
}
.registration-right-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registration-right .registration-item {
  display: flex;
  gap: 23px;
}
.registration-right .registration-item::before {
  width: 20px;
  height: 16px;
  content: url(./img/svg-ok.svg);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .registration-right {
    font-size: 1rem;
  }
  .registration-right-items {
    gap: 1.563rem;
  }
  .registration-items {
    gap: 1.375rem;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .registration-button {
    margin-bottom: 40px;
  }
  .registration-items {
    padding-top: 40px;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .registration-right {
    font-size: 16px;
    margin: 0 -8px;
  }
  .registration-name-title {
    margin: 0 -8px;
  }
  .registration-login-title {
    margin: 0 -8px;
  }
  .registration-button {
    margin-left: -8px;
  }
  .text {
    margin: 0 -8px;
  }
}
.flex-items-center, footer .socials-icon, footer .socials, footer .footer-items, .subscribe-button, .subscribe-email-form, .subscribe-block, .subscribe .customer, .subscribe-items, .services-item, .item-img .add-to-cart, .featured-items-button, .top .hero-title-group, .top-items, .header .item-amount, .header .navigation, .header-group, .header-items, .header, .breadcrumbs-items, .image-slide-body, .image-slide-body .arrow, .product-description, .product-description-items, .product-description .drop-down, .product-description .add-to-cart, .filter-category-heading, .sort summary, .sort-size-box-content label, .featured-items-pagination, .featured-items-pagination-box, .shopping-buttons, .registration-gender, .registration-button {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  line-height: normal;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a, a:visited {
  color: inherit;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background-color: #222;
}
.header-items {
  justify-content: space-between;
}
.header-group {
  gap: 2.563rem;
}
.header .navigation {
  gap: 2.063rem;
}
.header .navigation img:hover {
  filter: invert(56%) sepia(70%) saturate(905%) hue-rotate(309deg) brightness(96%) contrast(96%);
}
.header .cart {
  position: relative;
  margin-left: 15px;
}
.header .item-amount {
  position: absolute;
  top: -30%;
  right: -30%;
  justify-content: center;
  color: #FFF;
  font-size: 12px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F26376;
}
.header .search-bar:hover {
  filter: invert(56%) sepia(70%) saturate(905%) hue-rotate(309deg) brightness(96%) contrast(96%);
  cursor: pointer;
}

.top {
  height: 764px;
  background-color: #F1E4E6;
}
.top .hero-image {
  margin-left: -230px;
}
.top .hero-title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.top .hero-text {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top .fashion {
  color: #F26376;
}
.top .pink-bar {
  background-color: #F26376;
  width: 0.75rem;
  height: 92px;
  margin-right: 16px;
}

.categories {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 31.55%);
  grid-template-rows: 55.31% 38.29%;
  gap: 1.875rem;
  line-height: 0;
}
.categories .category-accessories, .categories .category-accessories-tablet {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.categories .category-women-tablet, .categories .category-men-tablet, .categories .category-kids-tablet, .categories .category-accessories-tablet {
  display: none;
}

.featured-items-info {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 96px;
  margin-bottom: 48px;
}
.featured-items-title {
  color: #222;
  font-size: 30px;
  margin-bottom: 6px;
}
.featured-items-text {
  color: #9F9F9F;
  font-size: 0.875rem;
}
.featured-items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.featured-items-button {
  justify-content: center;
  margin: 48px auto 95px auto;
  width: 212px;
  height: 48px;
  border: 1px solid #F26376;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.15s;
}
.featured-items-button:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}
.featured-items-button:active {
  transform: translateY(4px);
  background-color: #F26376;
  color: #FFF;
}

.item {
  background-color: #F8F8F8;
  transition: all 0.25s;
}
.item-text-block {
  padding: 24px 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item-title {
  color: #000;
}
.item-text {
  color: #5D5D5D;
  margin: 16px 0;
  font-size: 14px;
  font-weight: 300;
}
.item-price {
  color: #F26376;
  font-size: 16px;
}
.item-img {
  position: relative;
}
.item-img .add-to-cart {
  opacity: 0%;
  width: 8.688rem;
  height: 2.75rem;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 0.875rem;
}
.item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.02, 1.02);
  cursor: pointer;
}
.item:hover .item-title {
  color: #F26376;
}
.item:hover .add-to-cart {
  opacity: 100%;
}
.item:hover .item-main-img {
  filter: brightness(50%);
}
.item:active {
  transform: translateY(4px);
}

.services {
  background-color: #222;
}
.services-items {
  height: 341px;
  display: flex;
  justify-content: space-between;
}
.services-item {
  flex-direction: column;
  justify-content: center;
  width: 28%;
  color: #FBFBFB;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.services-icon {
  margin-bottom: 28px;
}
.services-title {
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.services-text {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subscribe {
  background-color: rgba(244, 244, 244, 0.7);
  background-image: url("./img/bottom-background.jpg");
  background-size: cover;
}
.subscribe-items {
  height: 448px;
  justify-content: space-between;
  gap: 30%;
}
.subscribe .customer {
  flex-direction: column;
}
.subscribe .customer-pic {
  margin-bottom: 30px;
}
.subscribe .customer-testimonial {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.subscribe .customer-testimonial > span {
  font-style: italic;
}
.subscribe-block {
  flex-direction: column;
  text-align: center;
  color: #222;
  margin-right: 6rem;
}
.subscribe-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.subscribe-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.subscribe-email {
  height: 49px;
  border: none;
  border-radius: 2rem 0 0 2rem;
  width: 16rem;
  line-height: 0;
  padding-left: 22px;
  background-color: #E1E1E1;
}
.subscribe-email-form:hover {
  cursor: pointer;
}
.subscribe-button {
  justify-content: center;
  height: 49px;
  color: #FFF;
  width: 6.25rem;
  background-color: #F26376;
  border-radius: 0 2rem 2rem 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  background-color: #222;
}
footer .footer-items {
  height: 79px;
  justify-content: space-between;
}
footer .copyright {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .socials {
  gap: 0.45em;
}
footer .socials-icon {
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: #FFF;
  padding: 8px;
  line-height: 0;
}
footer .socials-icon:hover {
  cursor: pointer;
  background-color: #F26376;
}
footer .socials-icon:hover img {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(105deg) brightness(102%) contrast(101%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 46rem;
  }
  .header-items {
    padding: 0 1rem;
  }
  .top {
    height: 367px;
  }
  .top .hero-title-group {
    margin-left: 1.5rem;
  }
  .top .hero-image {
    margin-left: 0px;
    height: 367px;
  }
  .top .hero-title {
    font-size: 2.75rem;
  }
  .top .hero-text {
    font-size: 1.5rem;
  }
  .categories {
    margin-top: 20px;
    gap: 1.25rem;
    grid-template-rows: 55.31% 40.29%;
  }
  .categories .category-women-tablet, .categories .category-men-tablet, .categories .category-kids-tablet, .categories .category-accessories-tablet {
    display: inherit;
  }
  .categories .category-women, .categories .category-men, .categories .category-kids, .categories .category-accessories {
    display: none;
  }
  .featured-items {
    margin-bottom: 0;
  }
  .featured-items-info {
    margin-top: 155px;
  }
  .featured-items-title {
    font-size: 1.875rem;
  }
  .featured-items-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .featured-items-button {
    margin: 32px auto 64px auto;
  }
  .services-items {
    height: 610px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 49px;
  }
  .services-item {
    width: 42%;
  }
  .services-icon {
    margin-bottom: 25px;
  }
  .subscribe {
    background-position: 25%;
  }
  .subscribe-items {
    height: 614px;
    flex-direction: column;
    gap: 5rem;
    justify-content: start;
    padding: 4rem;
  }
  .subscribe .customer {
    width: 60%;
  }
  .subscribe-block {
    margin-right: 0;
  }
  footer .footer-items {
    padding: 0 1rem;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .container {
    width: 100%;
    max-width: 23.438rem;
    padding: 0 1rem;
  }
  .header-items {
    flex: 1;
    min-width: 18rem;
    max-width: 23.438rem;
    padding: 0 auto;
  }
  .profile {
    display: none;
  }
  .cart {
    display: none;
  }
  .top {
    height: 363px;
  }
  .top .pink-bar {
    width: 0.75rem;
    height: 61px;
  }
  .top .top-items {
    height: 363px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top .hero-text {
    font-size: 20px;
  }
  .top .hero-image {
    display: none;
  }
  .top .hero-title {
    font-size: 38px;
  }
  .top .hero-title-group {
    align-items: center;
  }
  .categories {
    max-width: 100%;
    grid-template-columns: minmax(150px, 1fr);
    grid-template-rows: repeat(3, 1fr) 110px;
  }
  .categories .category-accessories {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .categories .category-accessories img {
    height: 100%;
    width: 100%;
    -o-object-fit: none;
       object-fit: none;
  }
  .featured-items-info {
    margin-top: 64px;
    margin-bottom: 65px;
  }
  .featured-items-grid {
    margin: 0 -0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
  }
  .item:hover {
    transform: none;
  }
  .services-items {
    height: 610px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em 0 2em 0;
  }
  .services-item {
    width: 90%;
  }
  .subscribe {
    background-position: 25%;
  }
  .subscribe-items {
    height: 550px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 60px;
    padding-top: 64px;
  }
  .subscribe .testimonial {
    margin-bottom: 80px;
  }
  .subscribe .customer-testimonial {
    font-size: 18px;
  }
  .subscribe-block {
    margin: 0;
  }
  .subscribe-title {
    font-size: 24px;
  }
  .subscribe-text {
    font-size: 14px;
  }
  .subscribe-email-form {
    width: 90%;
  }
  footer .footer-items {
    padding-top: 43px;
    height: 141px;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 43px;
  }
}/*# sourceMappingURL=style.css.map */